@import 'tailwindcss';
@plugin 'tailwindcss-animate';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply m-0;
  }

  html,
  body,
  #root {
    @apply w-full h-full;
  }
}
